/.obj/
*~
#*
downward-*
/html/
/latex/
*/TAGS
TAGS
/Makefile.depend
/sas_plan
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Makefile.temp*
/test/output.2.fd.add
/test/output.2.fd.cea
/test/output.2.fd.cg
/test/output.2.fd.ff
/test/output.2.fd.goalcount
/test/output.2.fd.hm
/test/output.2.fd.hmax
/test/output.2.fd.lmcount
/test/output2.2.fd.add
/test/output2.2.fd.cea
/test/output2.2.fd.cg
/test/output2.2.fd.ff
/test/output2.2.fd.goalcount
/test/output2.2.fd.hm
/test/output2.2.fd.hmax
/test/output2.2.fd.lmcount
/test/output4.2.fd.add
/test/output4.2.fd.cea
/test/output4.2.fd.cg
/test/output4.2.fd.ff
/test/output4.2.fd.goalcount
/test/output4.2.fd.hm
/test/output4.2.fd.hmax
/test/output4.2.fd.lmcount
